#reg_page:after, /* Сначала находим ID страницы где изменяем что либо */
#about .reg_subtitle:after, /* После конкретно указываем на  ID где именно изменим и что */
#about .reg_underline_title:after,/* После конкретно указываем на  ID где именно изменим и что */
article #about .reg_main_title:after{ /* После конкретно указываем на  ID где именно изменим и что. Article - блоки как header, footer, section, article и т.д */

    background: transparent !important; /* Вариант гибкий с повышенным приоритетом, можно поменять в мобильной версии или просто через JS */
    background: rgba(255,255,255,0); /* Вариант хитрый прозрачный цвет без приоритета, можно поменять в мобильной версии или просто через JS */
    background: none; /* Вариант грубый без гибкости, нельзя поменять в мобильной версии или просто через JS */
